
{% extends 'base.html.twig' %}

{% block title "Mot de passe oublié" %}

{% block body %}

	<div class="flex justify-center sm:my-10">
		<div>
			<h1 class="text-center font-bold text-2xl my-10">
				Mot de passe oublié
			</h1>
			
			{% if error is defined %}
				<div class="text-red-500 text-xs italil">
					{{ error.messageKey | trans(error.messagedata, 'security') }}
				</div>
			{% endif %}


			{{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}

			    <div class="mb-4">
			      

			      {{ form_label(form.email, 'Email', {'label_attr': {'class': 'Cblock text-gray-700 text-sm font-bold mb-2'}}) }}
			      {{ form_widget(form.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}

			     
			    </div>
			    
			    <div class="flex items-center justify-between">
			      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
			       {{ button|default('Réinitialiser mon mot de passe') }}
			      </button>
			      
			    </div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}