
{% extends 'base.html.twig' %}

{% block title "S'inscrire" %}

{% block body %}
	<div class="flex justify-center sm:my-10">
		<div class="w-full max-w-md ">
			<h1 class=" text-center font-bold text-3xl">
				S'inscrire
			</h1>
			{% if error is defined %}
				<p class="text-red-500 text-xs italic">
					{{ error.messageKey | trans(error.messagedata, 'security') }}
				</p>

			{% endif %}


			{{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}
			<div class="mb-4">

				<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
			        Username
			    </label>
				{{ form_widget(form.username, {'attr': {'class': 'bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500'}}) }}
			</div>

			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
			        Email
			    </label>
				{{ form_widget(form.email, {'attr': {'class': 'bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500'}}) }}

			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
			        Mot de Passe
			    </label>
				{{ form_widget(form.password, {'attr': {'class': 'bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500'}}) }}
			</div>
			<div class="flex items-center justify-between">
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
					{{ button|default('Créer mon compte') }}
				</button>
				<a href="{{ path('login') }}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Vous avez déja un compte ?</a>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}