{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary" style="margin-bottom: 10px">{{ button_label|default('Ajouter une vidéo') }}</button>
<a href="{{ link_figure }}" class="btn btn-secondary" style="margin-bottom: 10px">Retour à la figure</a>
{{ form_end(form) }}