
{% extends 'base.html.twig' %}

{% block title 'Gérer les figures' %}
{% block h1 figure.name %}
{% block subtitle 'Snow Tricks' %}

{% block body %}

	{% include "partials/flash.html.twig" %}

	<div class="figure-container col text-center container" id="edit_figure">

		{{ include('admin/partials/figure/_form_edit.html.twig', {button: 'Modifier'}) }}

		<div class="inline-flex my-10  ">
			<form class="mx-3" id="removeFigure" method="post" action="{{ path('admin.figure.delete', {id: figure.id}) }}" style="display: inline-block" onsubmit="return confirm('Vous êtes sur le point de supprimer une figure. Êtes vous vraiment sûr ?')">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
				<button class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded -mt-5">
					Supprimer
				</button>
			</form>
			<form class="mx-3" id="removeMainImg" method="post" action="{{ path('admin.figure.mainImg.delete', {'id': figure.id}) }}" onsubmit="return confirm('Vous êtes sur le point de supprimer l'image principale de la figure. Êtes vous vraiment sûr ?');">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
				<button class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded -mt-5">
					Supprimer l'image en premier
				</button>
			</form>
		</div>
	</div>


{% endblock %}
