  
{% extends 'base.html.twig' %}

{% block title 'Gérer les tricks' %}

{% block body %}

<div class="w-full max-w-xs">
{{ form_start(form) }}

	<div class="actions">
		<button class="btn btn-link edit">
			<i class="fa fa-file-image-o" aria-hidden="true"></i>
		</button>
		<button class="btn btn-link delete">
			<i class="fa fa-trash" aria-hidden="true"></i>
		</button>
	</div>

	<div class="image" style="background-image: url({{ asset('build/images/empty.jpg') }});">
		<h1>
			Créer une nouvelle figure ci-dessous
		</h1>
	</div>

	<div class="container mt-4 form-container">
		<div class="row">
			<div class="col">
				{{ form_row(form.images) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.name) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.description) }}
			</div>
		</div>
		<div class="row">
			<div class="category">
				<a href="{# path('admin.category.new' ) #}">Ajouter une nouvelle catégorie</a>
				{{ form_row(form.category) }}
			</div>
		</div>
		

		{{ form_rest(form) }}
		<div class="actions-form text-right">
			<button class="btn btn-primary edit">
				{{ button|default('Enregistrer') }}
			</button>
		</div>
	</div>
{{ form_end(form) }}

</div>
{% endblock %}
